/*清楚浏览器默认样式*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;/*文本样式为空*/
}
/*导航栏开始*/
.top{
    width: 1349px;
    height: 79px;
    /*background: #000000;
    background: rgba(0,0,0,0.3);*/
    background: white;
    float: left;
    position: fixed;
    z-index: 999;
}
.title{
    width: 1170px;
    height: 79px;
    margin: 0 auto;
    color:#fff;
    position: relative;
}
.title img{
    /*background: red;*/
    margin-top: 15px;
    float: left;
    width: 150px;
    height: 50px;
}
.title-text{
    width: 86px;
    height: 79px;
    float: right;               /*向右边浮动*/
    margin: 0 auto;
    line-height: 79px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    cursor: pointer;       /*鼠标移入显示小手*/
}
.b>a{
    color: #000000;
}
.a{
    color: #62a8ea;
}
.title-text:hover{         /*鼠标移入变颜色*/
    color: #62a8ea;
}
/*导航栏结束*/

/*主体开始*/
.big-box{
    width: 1349px;
    height: 2050px;
    background: #f1f1f1;
    position: relative;
    /*background: #f1f1f1;*/
    /*margin-top: 120px;*/
}
.top1{
    width: 1349px;
    height: 120px;
    background: #f1f1f1;
    margin: 0 auto;
    text-align: center;
    line-height: 120px;
    padding-top: 79px;
}
.top1 p{
    color: #f67a82;
    font-size: 35px;
    font-weight: 400;

}
/*左*/
.zuo{
    width: 817.5px;
    height: 1800px;
    float: left;
    /*background: red;*/
}
.bd-zuo1{
    width: 877.5px;
    height: 220px;
    background: #ffffff;
    /*margin-top: 20px;*/
    margin-left: 80px;
    position: relative;
    border-bottom: 1px solid #f0f2f5;;
}
.bd-zuo11{
    width: 817.5px;
    height: 160px;
    /*padding-left: 30px;*/
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    /*background: red;*/
}
.bd-zuo1 img{
    width: 160px;
    height: 160px;
    float: left;
    display: block;
}
.bd-zuo11-you{
    width: 500px;
    height: 160px;
    float: left;
    margin-left: 20px;
}
.p1{
    color: #2a333c;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 20px;
}
.p2{
    width: 637px;
    height: 48px;
    color: #76838f;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.p3{
    position: absolute;
    margin-top: 35px;
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
}
.zuo-di{
    width: 877.5px;
    height: 84px;
    background: #ffffff;
    margin-left: 80px;
    text-align: center;
    line-height: 39px;
    display: flex;
    justify-content: center;
}
.zuo-di p1{
    margin-top: 20px;
    width: 74px;
    height: 39px;
    border: 1px solid #f1f1f1;
}
.zuo-di p2{
    margin-top: 20px;
    width: 38.55px;
    height: 39px;
    border: 1px solid #f1f1f1;
}
.zuo-di p3{
    margin-top: 20px;
    width: 38.55px;
    height: 39px;
    background: red;
    border: 1px solid #f1f1f1;
}
/*右*/
.you{
    width: 272.5px;
    height: 354px;
    background: #ffffff;
    margin-left: 1000px;
    margin-top: -20px;
    position: relative;
}
.you-1i{
    width: 222.5px;
    height: 314px;
    background: #ffffff;
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
    position: relative;


}
.you1{
    width: 155.5px;
    height: 22px;
    border: 1px solid #e4eaec;
    border-radius: 10px;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
}
.you1 i{
    float: right;
}
.you2{
    width: 222.5px;
    height: 21px;
    border-top: 1px solid #f0f2f5 ;
    position: absolute;
    margin-top: 70px;
}
.you2 p{
    margin-top: 20px;
    line-height: 1.2;
    color: #37474f;
    font-size: 18px;
    font-weight: 300;
}
.you3{
    width: 222.5px;
    height: 44px;
    position: absolute;
    margin-top: 120px;
    border: 1px solid #e4eaec;
    text-align: center;
    line-height: 44px;
}
.you4{
    width: 222.5px;
    height: 44px;
    position: absolute;
    margin-top: 164px;
    border: 1px solid #e4eaec;
    text-align: center;
    line-height: 44px;
}
.you5{
    width: 222.5px;
    height: 44px;
    position: absolute;
    margin-top: 208px;
    border: 1px solid #e4eaec;
    text-align: center;
    line-height: 44px;
}
.you6{
    width: 222.5px;
    height: 21px;
    border-top: 1px solid #e4eaec;
    position: absolute;
    margin-top: 270px;
}
.you6 p{
    font-size: 16px;
    color: #2a333c;
    margin-top: 20px;
}
/*主体结束*/

/*底部开始*/
.footer-box{
    width: 1349px;
    height: 161px;
    background: #f1f1f1;
    padding-bottom: 20px;
}
.first-line{
    width: 1349px;
    border-top: 1px solid #f0f2f5;
    background: #f5f5f5;
    padding: 10px 0;
}
.tubiao{
    width: 1349px;
    height: 46px;
    /*background: #ff6700;*/
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    line-height: 56px;
}
.tubiao img{
    width:26px;
    height: 26px;
    margin-left: 5px;
}
.foot-text{
    width: 1349px;
    height: 75px;
    text-align: center;
}
.text-box{
    width: 1140px;
    height: 25px;
    line-height: 25px;
    left: 104.5px;
    text-align: center;
    color: #89eceb;
    margin: 0 auto;
}
/*底部结束*/